@media only screen and (max-width: 1280px) {
	.about {
		.about_descript{
			font-size: 0.8em;
		}
		.our_team_item .worker_name{
			font-size: 0.875em;
		}
		.our_team_item .worker_description{
			width: 95%;
		}
	}

    .portfolio .design_photo_item{
    	height: 205px;
    }
	.services_item{
		margin-right: 6.8%;
	}

	.blog {
		.blog_content_item{
			height: 600px;
		}
		.blog_content_header{
	    	margin-right: 15px;
	    	font-size: 22px;
	    	margin-bottom: 20px;
	    }
	    .blog_content_item_description{
	    	font-size: 14px;
	    	margin-right: 15px;
	    }
    }

    .all_contact{
	    .contact_list{
	    	margin-left: 0;
	    	margin-right: 50px;
	    }
	    .social_contact{
	    	margin-right: 0;
	    }
	}
}