@media only screen and (max-width: 640px) {
	.header{
		height: 400px;

		h1{
			margin-top: 100px;
		}
	}
	
	.portfolio{
	    .design_photo_item{
	    	height: 153px;
	    	margin-bottom: 5px;
	    }
	}
	
	.services{
		.icon{
			width: 95px;
			height: 95px;
			line-height: 95px;
			margin: 0 auto;
		}
		.service_heading{
			text-align: center;
		}
		&_item{
			width: 100%;
			height: 275px;
			margin-bottom: 10px;
			.service_heading{
				font-size: 1.8em;
			}
			.service_description{
				font-size: 0.75em;
			}
			&:last-child{
				margin-bottom: 25px;
			}
		}
	}

	.blog {
		.division_name{
			font-size: 12px;
		}
		.blog_content_header{
	    	font-size: 15px;
	    }
	    .blog_content_item_description{
	    	font-size: 10px;
	    }
		.blog_content_item{
			height: 400px;
			width: 30%;
		}
		.blog_content_item:nth-child(3){
			margin-right: 0;
		}
		.blog_content_item:nth-child(4){
			margin-right: 2.35714%;
		}
	}

	.contact_us{
    	.section_heading{
    		margin-top: 30px;
    		margin-bottom: 30px;
    	}
    	form{
    		margin-top: 30px;
	    	.input_position{
	    		width: 55%;
	    	}
	    	textarea{
	    		height: 136px;
	    		width: 100%; 
	    		font-size: 0.8em;
	    	}
	    	.form_button{
	    		width: 120px;
	    		font-size: 0.8em;
	    		margin-bottom: 40px;
	    	}
	    }
    }

    .all_contact{
	    .social_contact{
	    	left: 210px;
	    }
	}
}
