html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

html {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }

q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none; }

a img {
  border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

a {
  text-decoration: none; }

a:link {
  color: inherit;
  text-decoration: none; }

a:visited {
  color: inherit; }

.clearfix::after {
  content: "";
  display: table;
  clear: both; }

.container {
  position: relative;
  width: 90%;
  margin: 0 auto; }

.show {
  display: block; }

body {
  position: relative; }

@font-face {
  font-family: 'Rubik-Bold';
  src: url("../font/Rubik-Bold.eot");
  src: url("../font/Rubik-Bold.eot?#iefix") format("embedded-opentype"), url("../font/Rubik-Bold.woff") format("woff"), url("../font/Rubik-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Nord';
  src: url("../font/Nord.eot");
  src: url("../font/Nord.eot?#iefix") format("embedded-opentype"), url("../font/Nord.woff") format("woff"), url("../font/Nord.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Roboto-Black';
  src: url("../font/Roboto-Black.eot");
  src: url("../font/Roboto-Black.eot?#iefix") format("embedded-opentype"), url("../font/Roboto-Black.woff") format("woff"), url("../font/Roboto-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal; }

@font-face {
  font-family: 'Gotham-Bold';
  src: url("../font/GothamPro-Bold.eot");
  src: url("../font/GothamPro-Bold.eot?#iefix") format("embedded-opentype"), url("../font/GothamPro-Bold.woff") format("woff"), url("../font/GothamPro-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'PlayfairBold';
  src: url("../font/PlayfairDisplay-Bold.eot");
  src: url("../font/PlayfairDisplay-Bold.eot?#iefix") format("embedded-opentype"), url("../font/PlayfairDisplay-Bold.woff") format("woff"), url("../font/PlayfairDisplay-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'icomoon';
  src: url("../font/icomoon.eot?slltqm");
  src: url("../font/icomoon.eot?slltqm#iefix") format("embedded-opentype"), url("../font/icomoon.ttf?slltqm") format("truetype"), url("../font/icomoon.woff?slltqm") format("woff"), url("../font/icomoon.svg?slltqm#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-circle-down:before {
  content: "\ea43"; }

@font-face {
  font-family: 'html-icon';
  src: url("../font/html-icon.eot?b9zdnh");
  src: url("../font/html-icon.eot?b9zdnh#iefix") format("embedded-opentype"), url("../font/html-icon.ttf?b9zdnh") format("truetype"), url("../font/html-icon.woff?b9zdnh") format("woff"), url("../font/html-icon.svg?b9zdnh#html-icon") format("svg");
  font-weight: normal;
  font-style: normal; }

[class^=""], [class*=""] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'html-icon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.html-five:before {
  content: "\eae4"; }

@font-face {
  font-family: 'css-icon';
  src: url("../font/css-icon.eot?cwj2od");
  src: url("../font/css-icon.eot?cwj2od#iefix") format("embedded-opentype"), url("../font/css-icon.ttf?cwj2od") format("truetype"), url("../font/css-icon.woff?cwj2od") format("woff"), url("../font/css-icon.svg?cwj2od#css-icon") format("svg");
  font-weight: normal;
  font-style: normal; }

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'css-icon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-css:before {
  content: "\e900";
  color: #1572b6; }

@font-face {
  font-family: 'js-icon';
  src: url("../font/js-icon.eot?xv588m");
  src: url("../font/js-icon.eot?xv588m#iefix") format("embedded-opentype"), url("../font/js-icon.ttf?xv588m") format("truetype"), url("../font/js-icon.woff?xv588m") format("woff"), url("../font/js-icon.svg?xv588m#js-icon") format("svg");
  font-weight: normal;
  font-style: normal; }

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'js-icon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-js:before {
  content: "\e900";
  color: #f7df1e; }

@font-face {
  font-family: 'mobile-icon';
  src: url("../font/mobile-icon.eot?nlawqj");
  src: url("../font/mobile-icon.eot?nlawqj#iefix") format("embedded-opentype"), url("../font/mobile-icon.ttf?nlawqj") format("truetype"), url("../font/mobile-icon.woff?nlawqj") format("woff"), url("../font/mobile-icon.svg?nlawqj#mobile-icon") format("svg");
  font-weight: normal;
  font-style: normal; }

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'mobile-icon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-mobile:before {
  content: "\e900"; }

@font-face {
  font-family: 'work-icon';
  src: url("../font/work-icon.eot?zelt52");
  src: url("../font/work-icon.eot?zelt52#iefix") format("embedded-opentype"), url("../font/work-icon.ttf?zelt52") format("truetype"), url("../font/work-icon.woff?zelt52") format("woff"), url("../font/work-icon.svg?zelt52#work-icon") format("svg");
  font-weight: normal;
  font-style: normal; }

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'work-icon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-search:before {
  content: "\e986"; }

@font-face {
  font-family: 'footer-icon';
  src: url("../font/footer-icon.eot?hx63yp");
  src: url("../font/footer-icon.eot?hx63yp#iefix") format("embedded-opentype"), url("../font/footer-icon.ttf?hx63yp") format("truetype"), url("../font/footer-icon.woff?hx63yp") format("woff"), url("../font/footer-icon.svg?hx63yp#footer-icon") format("svg");
  font-weight: normal;
  font-style: normal; }

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'footer-icon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-git:before {
  content: "\e900"; }

.icon-facebook2:before {
  content: "\ea91"; }

.icon-instagram:before {
  content: "\ea92"; }

@font-face {
  font-family: 'toTop-icon';
  src: url("../font/toTop-icon.eot?wxdf2d");
  src: url("../font/toTop-icon.eot?wxdf2d#iefix") format("embedded-opentype"), url("../font/toTop-icon.ttf?wxdf2d") format("truetype"), url("../font/toTop-icon.woff?wxdf2d") format("woff"), url("../font/toTop-icon.svg?wxdf2d#toTop-icon") format("svg");
  font-weight: normal;
  font-style: normal; }

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'toTop-icon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-arrow-up:before {
  content: "\ea32"; }

@font-face {
  font-family: 'menu-icon';
  src: url("../font/menu-icon.eot?ctwrx0");
  src: url("../font/menu-icon.eot?ctwrx0#iefix") format("embedded-opentype"), url("../font/menu-icon.ttf?ctwrx0") format("truetype"), url("../font/menu-icon.woff?ctwrx0") format("woff"), url("../font/menu-icon.svg?ctwrx0#menu-icon") format("svg");
  font-weight: normal;
  font-style: normal; }

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'menu-icon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-menu:before {
  content: "\e9bd"; }

@font-face {
  font-family: 'rezume-icon';
  src: url("../font/rezume-icon.eot?h2gwqs");
  src: url("../font/rezume-icon.eot?h2gwqs#iefix") format("embedded-opentype"), url("../font/rezume-icon.ttf?h2gwqs") format("truetype"), url("../font/rezume-icon.woff?h2gwqs") format("woff"), url("../font/rezume-icon.svg?h2gwqs#rezume-icon") format("svg");
  font-weight: normal;
  font-style: normal; }

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'rezume-icon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-profile:before {
  content: "\e923"; }

@font-face {
  font-family: 'linkedin-icon';
  src: url("../font/linkedin-icon.eot?myeml");
  src: url("../font/linkedin-icon.eot?myeml#iefix") format("embedded-opentype"), url("../font/linkedin-icon.ttf?myeml") format("truetype"), url("../font/linkedin-icon.woff?myeml") format("woff"), url("../font/linkedin-icon.svg?myeml#linkedin-icon") format("svg");
  font-weight: normal;
  font-style: normal; }

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'linkedin-icon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-linkedin:before {
  content: "\eac9"; }

.out {
  display: none; }

.preloader-wrap {
  margin: 21% auto;
  box-sizing: border-box;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: linear-gradient(#4096ee -50%, rgba(64, 150, 238, 0) 60%);
  animation: roll-r 6s linear infinite; }

.preloader {
  padding: 5px;
  animation: roll-l 2s linear infinite; }

.preloader:after {
  content: "";
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #fff; }

@keyframes roll-r {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

@keyframes roll-l {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(-360deg); } }

.section-heading {
  margin-top: 25px;
  text-align: center;
  color: #fff;
  font: 3.5em Gotham-Bold, Arial, sans-serif;
  text-transform: uppercase;
  letter-spacing: 4px; }

/*/////////HEAD///////////*/
.head {
  height: 100vh;
  border-top: 1px solid #fff;
  background: url(../img/head-bg.jpeg) 0 -150px no-repeat;
  background-size: cover; }

.autor {
  display: inline-block;
  float: right;
  width: 30%;
  margin-top: 30px;
  margin-right: 2%; }
  .autor__photo {
    float: right;
    width: 250px;
    height: 250px;
    max-width: 100%;
    border-radius: 50%; }
  .autor__name {
    display: inline-block;
    float: right;
    margin-top: 10px;
    margin-bottom: 5px;
    color: #283130;
    font: 2em Roboto-Black, Arial, sans-serif;
    font-weight: bold; }
  .autor__specialisation {
    display: inline-block;
    float: right;
    color: #008ec1;
    text-transform: uppercase;
    font: 1.3em Nord, Arial, sans-serif; }

/*animation*/
.fadeInDown {
  animation-delay: 0.7s;
  animation-duration: 2s; }

.fadeInUp {
  /*animation-delay: 1s;*/
  animation-duration: 3s; }

.swing {
  animation-iteration-count: infinite;
  animation-duration: 2.5s; }

/*animation*/
.head__nav {
  float: left;
  margin-top: 50px;
  width: 15%; }

.icon-menu {
  font-size: 2em;
  font-family: 'menu-icon' !important; }

.menu {
  margin-left: 10%; }
  .menu__link {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    color: #283130;
    height: 50px;
    font: 1.4em Gotham-Bold, Arial, sans-serif;
    margin-bottom: 5px;
    border: 2px solid #283130;
    text-transform: uppercase;
    border-radius: 10px;
    transition: all 0.3s; }
    .menu__link:hover {
      background-color: #283130;
      padding: 2%; }
  .menu a {
    color: #283130; }
    .menu a:hover {
      color: #fff; }

.head__button {
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
  height: 75px;
  margin-top: 120px;
  background: none;
  border: none;
  opacity: 0.7;
  cursor: pointer;
  transition: all 0.5s;
  animation: move 1.5s linear 5 forwards; }
  .head__button:hover {
    -webkit-animation-play-state: paused;
    -o-animation-play-state: paused;
    animation-play-state: paused;
    color: #283130; }

.icon-circle-down {
  font-size: 4em;
  font-family: 'icomoon' !important; }

@keyframes move {
  from {
    transform: translateY(0); }
  to {
    transform: translateY(50px);
    color: #008ec1; } }

.popup {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 300px;
  width: 25%;
  text-align: center; }
  .popup__btn {
    right: 30%;
    border: none;
    background-color: #000;
    color: #fff;
    padding: 4%;
    outline: none;
    text-transform: uppercase;
    letter-spacing: 4px;
    font: 2em Roboto-Black, Arial, sans-serif;
    cursor: pointer;
    transition: all 0.2s; }
    .popup__btn:hover {
      opacity: 0.7; }
  .popup__text {
    display: none;
    margin-top: 10%;
    width: 100%;
    font: 1.2em PlayfairBold, serif;
    text-align: justify;
    letter-spacing: 1px;
    line-height: 1.5; }

/*/////////HEAD///////////*/
/*/////////KNOWLEGE////////*/
.knowledge {
  background: url(../img/knowledge-bg.jpeg) no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-color: #7b7c7b;
  border-top: 1px solid #EDEDED;
  height: 100vh; }

.skill {
  height: 100%; }
  .skill-wrap {
    position: relative;
    height: 92%; }
  .skill__item {
    position: relative;
    float: left;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    text-align: center;
    border-radius: 8px;
    box-sizing: border-box; }
  .skill-hover {
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    top: 0;
    text-align: center;
    display: block; }
    .skill-hover_bg_red {
      background-color: rgba(255, 0, 0, 0.5); }
    .skill-hover_bg_blue {
      background-color: rgba(34, 154, 193, 0.5); }
    .skill-hover_bg_yellow {
      background-color: rgba(188, 188, 0, 0.5); }
    .skill-hover_bg_sky {
      background-color: rgba(1, 160, 12, 0.5); }
    .skill-hover__heading {
      margin-top: 8%;
      font: 2.3em Roboto-Black, Arial, sans-serif;
      letter-spacing: 2px;
      color: #fff;
      z-index: 10; }
    .skill-hover__descript {
      margin-top: 5%;
      width: 40%;
      margin: 5% auto 0 auto;
      font: 1.2em PlayfairBold, serif;
      letter-spacing: 2px;
      color: #fff;
      z-index: 10; }

.l-skill {
  margin-top: 30px; }

.skill__icon {
  font-size: 10em;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.html-five {
  font-family: 'html-icon' !important;
  color: red; }

.icon-css {
  font-family: 'css-icon' !important; }

.icon-js {
  font-family: 'js-icon' !important; }

.icon-mobile {
  color: #00ff11;
  font-family: 'mobile-icon' !important; }

.l-tools {
  padding: 2% 5px; }

.tools {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30%;
  background-color: #283130;
  border-radius: 15px;
  box-shadow: 0 10px 20px 5px rgba(0, 0, 0, 0.8); }
  .tools__heading {
    margin-bottom: 10px;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    letter-spacing: 3px;
    font: 2.3em Rubik-Bold, Arial, sans-serif; }
  .tools__descript {
    margin: 0 8%;
    text-align: justify;
    color: #75fff1;
    line-height: 1.3;
    font: 1.2em Georgia, "Times New Roman", sans-serif; }

a.tools__link {
  color: #02f90e;
  text-decoration: underline; }
  a.tools__link:hover {
    color: #fff; }

.text-color_pink {
  color: #C6538C;
  font-size: 1.5em; }

.text-color_purpure {
  color: #E84C50;
  font-size: 1.5em; }

.text-color_orange {
  color: #ffaa00;
  font-size: 1.5em; }

.text-color_violet {
  color: #8e00cc;
  font-size: 1.5em; }

.text-color_red {
  color: red;
  font-size: 1.5em; }

.text-color_gray {
  color: #9e9e9e;
  font-size: 1.5em; }

.text-color_white {
  color: #fff;
  font-size: 1.5em; }

/*/////////KNOWLEGE////////*/
/*/////////MY_WORK////////*/
.my-work {
  position: relative;
  background-color: #fff;
  border-top: 1px solid #3F4C54;
  padding-bottom: 100px; }
  .my-work__btn {
    position: relative;
    bottom: -50px;
    left: 50%;
    transform: translateX(-50%);
    padding: 1%;
    background-color: transparent;
    font: 2.5em Roboto-Black, Arial, sans-serif;
    color: #283130;
    text-transform: uppercase;
    border: 5px solid #283130;
    border-radius: 20px;
    cursor: pointer;
    outline: none;
    transition: all 0.3s; }
    .my-work__btn:hover {
      color: #fff;
      background-color: #283130;
      opacity: 0.5; }

.my-work__btn_active {
  color: #fff;
  background-color: #283130; }

.section-heading_color_white {
  text-align: center;
  color: #283130; }

.l-work {
  margin-top: 30px; }

.work {
  /*height: 75%;*/
  display: flex;
  flex-wrap: wrap; }
  .work__item {
    position: relative;
    margin-bottom: 20px;
    height: 350px;
    width: 33.333%;
    border-radius: 15px;
    background-color: #000;
    box-sizing: border-box;
    transition: 0.3s all;
    overflow: hidden; }
    .work__item:hover .work__img {
      opacity: 0.3;
      transform: scale(1.2); }
    .work__item:hover .icon-search {
      display: block; }
    .work__item:nth-child(n+7) {
      display: none; }
  .work__img {
    min-width: 100%;
    height: 100%;
    max-width: 100%;
    border-radius: 15px;
    transition: all 0.5s; }

a.work__link {
  border-radius: 15px; }

.icon-search {
  display: none;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-family: 'work-icon' !important;
  font-size: 8em;
  color: #fff;
  z-index: 10; }

/*/////////MY_WORK////////*/
/*/////////ABOUT////////*/
.about {
  height: 85vh;
  padding-bottom: 80px;
  background: url(../img/lamp.jpeg) no-repeat;
  background-size: cover;
  background-attachment: fixed;
  border-top: 1px solid #000; }

.section-heading_color_black {
  color: #fff; }

.about-descript {
  position: relative;
  width: 70%;
  margin: 5% auto 0 auto;
  background-color: transparent; }
  .about-descript__text {
    color: #fff;
    margin-bottom: 20px;
    text-align: justify;
    font: 1.5em PlayfairBold, "Times New Roman", serif;
    line-height: 1.4;
    letter-spacing: 2px; }

.icon-profile {
  font-family: 'rezume-icon' !important;
  font-size: 2em;
  margin-left: 20%;
  color: green; }
  .icon-profile:hover {
    color: #00ff11; }

.rezume-block {
  margin-top: 100px;
  display: flex;
  align-items: center; }

.indent {
  margin-left: 5%; }

.italic {
  font-style: italic; }

.bold {
  font-weight: 600; }

/*/////////ABOUT////////*/
/*/////////FOOTER////////*/
.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  color: #000;
  height: 15vh;
  border-top: 1px solid #000; }

.contact-icon {
  position: relative;
  width: 30%;
  font-size: 3em;
  margin-left: 3%; }
  .contact-icon__item {
    display: inline-block;
    margin-right: 5%; }
    .contact-icon__item:hover {
      color: gray; }

.icon-git, .icon-facebook2, .icon-instagram {
  font-family: 'footer-icon' !important; }

.icon-linkedin {
  font-family: 'linkedin-icon' !important; }

.mail {
  font-size: 0.8em;
  position: absolute;
  top: 50%;
  transform: translateY(-50%); }

.rights {
  display: inline-block;
  margin-right: 3%;
  font-size: 2em;
  letter-spacing: 2px; }

/*/////////FOOTER////////*/
a.to-top {
  position: fixed;
  display: none;
  right: 1%;
  top: 400px;
  padding: 1%;
  text-align: center;
  border: 3px solid #fff;
  border-radius: 10px;
  background: #000;
  color: #fff;
  opacity: 0.7;
  cursor: pointer;
  transition: all 0.3s;
  box-sizing: border-box;
  z-index: 10; }
  a.to-top:hover {
    opacity: 1; }

.icon-arrow-up {
  font-size: 2em;
  font-family: 'toTop-icon' !important; }

@media screen and (min-width: 1345px) and (max-width: 1440px) {
  .section-heading {
    font-size: 3em; }
  /*HEAD*/
  .autor {
    margin-top: 20px;
    width: 30%; }
    .autor__photo {
      width: 150px;
      height: 150px; }
    .autor__name {
      font-size: 1.5em; }
    .autor__specialisation {
      font-size: 1em;
      margin-right: 1%; }
  .head__nav {
    width: 15%;
    margin-top: 25px; }
  .menu__link {
    height: 30px;
    font-size: 0.9em;
    border-radius: 10px;
    border-width: 1px; }
  .popup__btn {
    font-size: 1em;
    padding: 4% 4%; }
  .popup__text {
    font-size: 0.9em; }
  /*HEAD*/
  /*KNOWLEDGE*/
  .skill-wrap {
    height: 83%; }
  .skill-hover__heading {
    font-size: 2em; }
  .skill-hover__descript {
    font-size: 0.9em;
    letter-spacing: 0; }
  .skill__icon {
    font-size: 10em; }
  .tools__heading {
    font-size: 2em; }
  .tools__descript {
    font-size: 1em; }
  /*KNOWLEDGE*/
  /*MY_WORK*/
  .my-work {
    padding-bottom: 40px; }
    .my-work__btn {
      bottom: -20px;
      font-size: 1.3em;
      padding: 1%;
      border-width: 2px; }
  .work__item {
    height: 270px;
    margin-bottom: 10px; }
  .icon-search {
    font-size: 4em; }
  /*MY_WORK*/
  /*ABOUT*/
  .about-descript {
    margin-top: 4%; }
    .about-descript__text {
      font-size: 1em;
      letter-spacing: 1px; }
  .rezume-block {
    margin-top: 50px; }
  /*ABOUT*/
  /*FOOTER*/
  .contact-icon {
    font-size: 2em; }
  .rights {
    font-size: 1.5em; }
  /*FOOTER*/
  .icon-arrow-up {
    font-size: 1em; } }

@media screen and (min-width: 1024px) and (max-width: 1285px) {
  .section-heading {
    font-size: 3em; }
  /*HEAD*/
  .autor {
    margin-top: 20px;
    width: 30%; }
    .autor__photo {
      width: 120px;
      height: 120px; }
    .autor__name {
      font-size: 1.3em; }
    .autor__specialisation {
      font-size: 0.9em;
      margin-right: 1%; }
  .head__nav {
    width: 15%;
    margin-top: 25px; }
  .menu__link {
    height: 30px;
    font-size: 0.8em;
    border-radius: 10px;
    border-width: 1px; }
  .popup {
    width: 40%; }
    .popup__btn {
      font-size: 1em;
      padding: 4% 4%; }
    .popup__text {
      font-size: 0.9em; }
  /*HEAD*/
  /*KNOWLEDGE*/
  .skill-wrap {
    height: 90%; }
  .skill-hover__heading {
    font-size: 1.7em; }
  .skill-hover__descript {
    font-size: 0.9em;
    letter-spacing: 0; }
  .skill__icon {
    font-size: 10em; }
  .l-tools {
    padding: 1% 0; }
  .tools__heading {
    font-size: 1.7em; }
  .tools__descript {
    margin: 0 4%;
    font-size: 0.9em; }
  /*KNOWLEDGE*/
  /*MY_WORK*/
  .my-work {
    padding-bottom: 40px; }
    .my-work__btn {
      bottom: -20px;
      font-size: 1.3em;
      padding: 1%;
      border-width: 2px; }
  .work__item {
    height: 240px;
    margin-bottom: 10px; }
  .icon-search {
    font-size: 4em; }
  /*MY_WORK*/
  /*ABOUT*/
  .about-descript {
    margin-top: 4%; }
    .about-descript__text {
      font-size: 0.9em;
      letter-spacing: 1px; }
  .rezume-block {
    margin-top: 50px; }
  /*ABOUT*/
  /*FOOTER*/
  .contact-icon {
    font-size: 2em; }
  .rights {
    font-size: 1.5em; }
  /*FOOTER*/
  .icon-arrow-up {
    font-size: 1em; } }

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .section-heading {
    font-size: 3em; }
  /*HEAD*/
  .autor {
    margin-top: 20px;
    width: 20%;
    display: flex;
    align-items: center;
    flex-direction: column; }
    .autor__photo {
      width: 100px;
      height: 100px; }
    .autor__name {
      font-size: 1.3em; }
    .autor__specialisation {
      font-size: 0.9em;
      margin-right: 1%; }
  .head__nav {
    width: 25%;
    margin-top: 25px; }
  .menu__link {
    height: 30px;
    font-size: 0.8em;
    border-radius: 10px;
    border-width: 1px; }
  .popup {
    width: 40%; }
    .popup__btn {
      font-size: 1em;
      padding: 4% 4%; }
    .popup__text {
      font-size: 0.9em; }
  /*HEAD*/
  /*KNOWLEDGE*/
  .skill-wrap {
    height: 50%; }
  .skill-hover__heading {
    font-size: 1.3em; }
  .skill-hover__descript {
    width: 80%;
    font-size: 0.9em;
    letter-spacing: 0; }
  .skill__icon {
    font-size: 7em; }
  .l-tools {
    padding: 1% 0; }
  .tools {
    width: 90%;
    top: 130%; }
    .tools__heading {
      font-size: 1.7em; }
    .tools__descript {
      margin: 0 4%;
      font-size: 0.9em; }
  /*KNOWLEDGE*/
  /*MY_WORK*/
  .my-work {
    padding-bottom: 40px; }
    .my-work__btn {
      bottom: -20px;
      font-size: 1.3em;
      padding: 1%;
      border-width: 2px; }
  .work__item {
    height: 220px;
    margin-bottom: 10px; }
  .icon-search {
    font-size: 4em; }
  /*MY_WORK*/
  /*ABOUT*/
  .about-descript {
    width: 85%;
    margin-top: 4%; }
    .about-descript__text {
      font-size: 0.9em;
      letter-spacing: 1px; }
  .rezume-block {
    margin-top: 50px; }
  /*ABOUT*/
  /*FOOTER*/
  .contact-icon {
    font-size: 2em; }
  .rights {
    font-size: 1.5em; }
  /*FOOTER*/
  .icon-arrow-up {
    font-size: 1em; } }

@media screen and (min-width: 600px) and (max-width: 767px) {
  .section-heading {
    font-size: 3em; }
  /*HEAD*/
  .head {
    background-image: none;
    background-color: #fff; }
  .autor {
    margin-top: 9%;
    width: 90%;
    display: flex;
    flex-direction: column;
    -ms-align-items: center;
    align-items: center; }
    .autor__photo {
      float: left;
      width: 200px;
      height: 200px; }
    .autor__name {
      float: right;
      font-size: 1.8em; }
    .autor__specialisation {
      float: right;
      font-size: 1.2em;
      margin-right: 0%; }
  .head__nav {
    width: 90%;
    margin: 15% auto 0 auto; }
  .menu__link {
    height: 70px;
    font-size: 1.2em;
    border-radius: 10px;
    border-width: 1px; }
  .popup {
    display: none; }
  /*HEAD*/
  /*KNOWLEDGE*/
  .knowledge {
    height: 900px;
    padding-bottom: 30px; }
  .skill-wrap {
    height: 53%; }
  .skill-hover__heading {
    font-size: 1.8em; }
  .skill-hover__descript {
    width: 80%;
    font-size: 1.2em;
    letter-spacing: 0; }
  .skill__icon {
    font-size: 7em; }
  .l-tools {
    padding: 1% 0; }
  .tools {
    width: 90%;
    top: 130%; }
    .tools__heading {
      font-size: 1.6em; }
    .tools__descript {
      margin: 0 4%;
      font-size: 1.2em; }
  /*KNOWLEDGE*/
  /*MY_WORK*/
  .my-work {
    padding-bottom: 40px; }
    .my-work__btn {
      bottom: -20px;
      font-size: 1.3em;
      padding: 2%;
      border-width: 2px; }
  .work__item {
    width: 90%;
    height: 300px;
    margin: 0 auto 10px auto; }
    .work__item:nth-child(n+4) {
      display: none; }
  .icon-search {
    font-size: 4em; }
  /*MY_WORK*/
  /*ABOUT*/
  .about {
    height: auto;
    padding-bottom: 30px; }
  .about-descript {
    width: 90%;
    margin-top: 4%; }
    .about-descript__text {
      font-size: 0.9em;
      letter-spacing: 1px; }
  .rezume-block {
    margin-top: 50px;
    width: 100%; }
  a.about-descript__link {
    margin-left: 5%; }
  .icon-profile {
    font-size: 3em; }
  /*ABOUT*/
  /*FOOTER*/
  .footer {
    display: block; }
  .contact-icon {
    width: 100%;
    font-size: 2.3em;
    margin-top: 3%; }
  .rights {
    margin-top: 5%;
    text-align: center;
    width: 100%;
    font-size: 1.4em; }
  /*FOOTER*/
  .icon-arrow-up {
    font-size: 1em; }
  a.to-top {
    right: 5%; } }

@media screen and (min-width: 600px) and (max-width: 767px) and (min-height: 320px) and (max-height: 420px) {
  .head {
    text-align: center; }
  .autor {
    margin-top: 1%; }
    .autor__photo {
      width: 50px;
      height: 50px; }
    .autor__name {
      float: right;
      font-size: 1em; }
    .autor__specialisation {
      float: right;
      font-size: 0.8em;
      margin-right: 0%; }
  .head__nav {
    width: 50%;
    margin: 5% auto 0 24%; }
  .menu__link {
    height: 25px;
    font-size: 0.8em;
    border-radius: 10px;
    border-width: 1px; }
  a.to-top {
    right: 10%; } }

@media screen and (min-width: 320px) and (max-width: 500px) {
  .section-heading {
    font-size: 3em; }
  /*HEAD*/
  .head {
    background-image: none;
    background-color: #fff; }
  .autor {
    margin-top: 7%;
    width: 95%;
    display: flex;
    flex-direction: column;
    -ms-align-items: center;
    align-items: center; }
    .autor__photo {
      float: left;
      width: 120px;
      height: 120px; }
    .autor__name {
      float: right;
      font-size: 1.2em; }
    .autor__specialisation {
      float: right;
      font-size: 1em;
      margin-right: 1%; }
  .head__nav {
    width: 90%;
    margin: 15% auto 0 auto; }
  .menu__link {
    height: 40px;
    font-size: 1em;
    border-radius: 10px;
    border-width: 1px; }
  .popup {
    display: none; }
  /*HEAD*/
  /*KNOWLEDGE*/
  .knowledge {
    height: 1520px;
    padding-bottom: 30px; }
  .skill-wrap {
    height: 53%; }
  .skill__item {
    float: none;
    width: 100%;
    height: 250px;
    margin: 0 auto 5px auto; }
  .skill-hover__heading {
    font-size: 1.8em; }
  .skill-hover__descript {
    width: 80%;
    font-size: 1.2em;
    letter-spacing: 0; }
  .skill__icon {
    font-size: 7em; }
  .l-tools {
    padding: 1% 0; }
  .tools {
    width: 90%;
    top: 152%; }
    .tools__heading {
      font-size: 1.6em; }
    .tools__descript {
      margin: 0 4%;
      font-size: 1.2em; }
  /*KNOWLEDGE*/
  /*MY_WORK*/
  .my-work {
    padding-bottom: 40px; }
    .my-work__btn {
      bottom: -20px;
      font-size: 1.3em;
      padding: 2%;
      border-width: 2px; }
  .work__item {
    width: 90%;
    height: 250px;
    margin: 0 auto 10px auto; }
    .work__item:nth-child(n+4) {
      display: none; }
  .icon-search {
    font-size: 4em; }
  /*MY_WORK*/
  /*ABOUT*/
  .about {
    height: auto;
    padding-bottom: 30px; }
  .about-descript {
    width: 90%;
    margin-top: 4%; }
    .about-descript__text {
      font-size: 0.9em;
      letter-spacing: 1px; }
  .rezume-block {
    margin-top: 50px;
    width: 100%; }
  a.about-descript__link {
    margin-left: 5%; }
  .icon-profile {
    font-size: 3em; }
  /*ABOUT*/
  /*FOOTER*/
  .footer {
    display: block; }
  .contact-icon {
    width: 100%;
    font-size: 2.3em;
    margin-top: 3%; }
  .mail {
    font-size: 0.33em; }
  .rights {
    margin-top: 5%;
    text-align: center;
    width: 100%;
    font-size: 1em; }
  /*FOOTER*/
  a.to-top {
    right: 2%; }
  .icon-arrow-up {
    font-size: 1em; } }
