

@font-face {
	font-family: 'Rubik-Bold';
	src: url('../font/Rubik-Bold.eot');
	src: url('../font/Rubik-Bold.eot?#iefix') format('embedded-opentype'),
		url('../font/Rubik-Bold.woff') format('woff'),
		url('../font/Rubik-Bold.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Nord';
	src: url('../font/Nord.eot');
	src: url('../font/Nord.eot?#iefix') format('embedded-opentype'),
		url('../font/Nord.woff') format('woff'),
		url('../font/Nord.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto-Black';
	src: url('../font/Roboto-Black.eot');
	src: url('../font/Roboto-Black.eot?#iefix') format('embedded-opentype'),
		url('../font/Roboto-Black.woff') format('woff'),
		url('../font/Roboto-Black.ttf') format('truetype');
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'Gotham-Bold';
	src: url('../font/GothamPro-Bold.eot');
	src: url('../font/GothamPro-Bold.eot?#iefix') format('embedded-opentype'),
		url('../font/GothamPro-Bold.woff') format('woff'),
		url('../font/GothamPro-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

// @font-face {
//   font-family: 'PlayfairRegular';
//   src: url('../font/PlayfairDisplay-Regular.eot');
//   src: url('../font/PlayfairDisplay-Regular.eot?#iefix') format('embedded-opentype'),
//     url('../font/PlayfairDisplay-Regular.woff') format('woff'),
//     url('../font/PlayfairDisplay-Regular.ttf') format('truetype');
//   font-weight: normal;
//   font-style: normal;
// }



@font-face {
  font-family: 'PlayfairBold';
  src: url('../font/PlayfairDisplay-Bold.eot');
  src: url('../font/PlayfairDisplay-Bold.eot?#iefix') format('embedded-opentype'),
    url('../font/PlayfairDisplay-Bold.woff') format('woff'),
    url('../font/PlayfairDisplay-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}







@font-face {
  font-family: 'icomoon';
  src:  url('../font/icomoon.eot?slltqm');
  src:  url('../font/icomoon.eot?slltqm#iefix') format('embedded-opentype'),
    url('../font/icomoon.ttf?slltqm') format('truetype'),
    url('../font/icomoon.woff?slltqm') format('woff'),
    url('../font/icomoon.svg?slltqm#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-circle-down:before {
  content: "\ea43";
}

@font-face {
  font-family: 'html-icon';
  src:  url('../font/html-icon.eot?b9zdnh');
  src:  url('../font/html-icon.eot?b9zdnh#iefix') format('embedded-opentype'),
    url('../font/html-icon.ttf?b9zdnh') format('truetype'),
    url('../font/html-icon.woff?b9zdnh') format('woff'),
    url('../font/html-icon.svg?b9zdnh#html-icon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^=""], [class*=""] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'html-icon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.html-five:before {
  content: "\eae4";
}

@font-face {
  font-family: 'css-icon';
  src:  url('../font/css-icon.eot?cwj2od');
  src:  url('../font/css-icon.eot?cwj2od#iefix') format('embedded-opentype'),
    url('../font/css-icon.ttf?cwj2od') format('truetype'),
    url('../font/css-icon.woff?cwj2od') format('woff'),
    url('../font/css-icon.svg?cwj2od#css-icon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'css-icon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-css:before {
  content: "\e900";
  color: #1572b6;
}

@font-face {
  font-family: 'js-icon';
  src:  url('../font/js-icon.eot?xv588m');
  src:  url('../font/js-icon.eot?xv588m#iefix') format('embedded-opentype'),
    url('../font/js-icon.ttf?xv588m') format('truetype'),
    url('../font/js-icon.woff?xv588m') format('woff'),
    url('../font/js-icon.svg?xv588m#js-icon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'js-icon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-js:before {
  content: "\e900";
  color: #f7df1e;
}

@font-face {
  font-family: 'mobile-icon';
  src:  url('../font/mobile-icon.eot?nlawqj');
  src:  url('../font/mobile-icon.eot?nlawqj#iefix') format('embedded-opentype'),
    url('../font/mobile-icon.ttf?nlawqj') format('truetype'),
    url('../font/mobile-icon.woff?nlawqj') format('woff'),
    url('../font/mobile-icon.svg?nlawqj#mobile-icon') format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'mobile-icon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-mobile:before {
  content: "\e900";
}

@font-face {
  font-family: 'work-icon';
  src:  url('../font/work-icon.eot?zelt52');
  src:  url('../font/work-icon.eot?zelt52#iefix') format('embedded-opentype'),
    url('../font/work-icon.ttf?zelt52') format('truetype'),
    url('../font/work-icon.woff?zelt52') format('woff'),
    url('../font/work-icon.svg?zelt52#work-icon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'work-icon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-search:before {
  content: "\e986";
}



@font-face {
  font-family: 'footer-icon';
  src:  url('../font/footer-icon.eot?hx63yp');
  src:  url('../font/footer-icon.eot?hx63yp#iefix') format('embedded-opentype'),
    url('../font/footer-icon.ttf?hx63yp') format('truetype'),
    url('../font/footer-icon.woff?hx63yp') format('woff'),
    url('../font/footer-icon.svg?hx63yp#footer-icon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'footer-icon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-git:before {
  content: "\e900";
}
.icon-facebook2:before {
  content: "\ea91";
}
.icon-instagram:before {
  content: "\ea92";
}



@font-face {
  font-family: 'toTop-icon';
  src:  url('../font/toTop-icon.eot?wxdf2d');
  src:  url('../font/toTop-icon.eot?wxdf2d#iefix') format('embedded-opentype'),
    url('../font/toTop-icon.ttf?wxdf2d') format('truetype'),
    url('../font/toTop-icon.woff?wxdf2d') format('woff'),
    url('../font/toTop-icon.svg?wxdf2d#toTop-icon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'toTop-icon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-up:before {
  content: "\ea32";
}

@font-face {
  font-family: 'menu-icon';
  src:  url('../font/menu-icon.eot?ctwrx0');
  src:  url('../font/menu-icon.eot?ctwrx0#iefix') format('embedded-opentype'),
    url('../font/menu-icon.ttf?ctwrx0') format('truetype'),
    url('../font/menu-icon.woff?ctwrx0') format('woff'),
    url('../font/menu-icon.svg?ctwrx0#menu-icon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'menu-icon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-menu:before {
  content: "\e9bd";
}

@font-face {
  font-family: 'rezume-icon';
  src:  url('../font/rezume-icon.eot?h2gwqs');
  src:  url('../font/rezume-icon.eot?h2gwqs#iefix') format('embedded-opentype'),
    url('../font/rezume-icon.ttf?h2gwqs') format('truetype'),
    url('../font/rezume-icon.woff?h2gwqs') format('woff'),
    url('../font/rezume-icon.svg?h2gwqs#rezume-icon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'rezume-icon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-profile:before {
  content: "\e923";
}

@font-face {
  font-family: 'linkedin-icon';
  src:  url('../font/linkedin-icon.eot?myeml');
  src:  url('../font/linkedin-icon.eot?myeml#iefix') format('embedded-opentype'),
    url('../font/linkedin-icon.ttf?myeml') format('truetype'),
    url('../font/linkedin-icon.woff?myeml') format('woff'),
    url('../font/linkedin-icon.svg?myeml#linkedin-icon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'linkedin-icon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-linkedin:before {
  content: "\eac9";
}







