
@import 'common';
@import 'font';
@import 'var';
@import 'preloader';

.section-heading {
  margin-top: 25px;
  text-align: center;
  color: #fff;
  font: 3.5em Gotham-Bold, Arial, sans-serif;
  text-transform: uppercase;
  letter-spacing: 4px;
}

/*/////////HEAD///////////*/

.head {
	height: 100vh;
	border-top: 1px solid #fff;
	background: url(../img/head-bg.jpeg) 0 -150px  no-repeat;
	background-size: cover;
}


.autor {
	display: inline-block;
	float: right;
	width: 30%;
	margin-top: 30px;
	margin-right: 2%;
	

	&__photo {
		$photo-size: 250px;
		float: right;
		width: $photo-size;
		height: $photo-size;
		max-width: 100%;
		border-radius: 50%;
	}

	&__name {
		display: inline-block;
		float: right;
		margin-top: 10px;
		margin-bottom: 5px;
		color: $darck-gray;
		font: 2em Roboto-Black, Arial, sans-serif;
		font-weight: bold;
	}

	&__specialisation {
		display: inline-block;
		float: right;
		color: #008ec1;
		text-transform: uppercase;
		font: 1.3em Nord, Arial, sans-serif;
	}
}

/*animation*/
.fadeInDown {
	animation-delay: 0.7s;
	animation-duration: 2s;
}
.fadeInUp {
	/*animation-delay: 1s;*/
	animation-duration: 3s;
}
.swing {
	animation-iteration-count: infinite;
	animation-duration: 2.5s;
}
/*animation*/


.head__nav {
	float: left;
	margin-top: 50px;
	width: 15%;
}
.icon-menu {
	font-size: 2em;
	font-family: 'menu-icon' !important;
}
.menu {
	margin-left: 10%;
	&__link {
		display: flex;
		align-items: center;
		justify-content: center;
		background-color: transparent;
		color: $darck-gray;
		height: 50px;
		font: 1.4em Gotham-Bold, Arial, sans-serif;
		margin-bottom: 5px;
		border: 2px solid $darck-gray;
		text-transform: uppercase;
		border-radius: 10px;
		transition: all 0.3s;
	
		&:hover {
			background-color: $darck-gray;
			padding: 2%;
		}
	}

	a {
		color: $darck-gray;
	
		&:hover {
			color: #fff;
		}
	}
}

.head__button {
	position: absolute;
	bottom: 10%;
	left: 50%;
	transform: translateX(-50%);
	height: 75px;
	margin-top: 120px;
	background: none;
	border: none;
	opacity: 0.7;
	cursor: pointer;
	transition: all 0.5s;

	animation: move 1.5s linear 5 forwards;

	&:hover {
		-webkit-animation-play-state: paused;
		-o-animation-play-state: paused;
		animation-play-state: paused;
		color: $darck-gray;
	}
}
.icon-circle-down {
	font-size: 4em;
	font-family: 'icomoon' !important;
}
@keyframes move{
	from {
		transform: translateY(0);
	}
	to {
		transform: translateY(50px);
		color: #008ec1;
	}
}

.popup {
	position: absolute;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	height: 300px;
	width: 25%;
	text-align: center;
	
	&__btn {
		right: 30%;
		border: none;
		background-color: #000;
		color: #fff;
		padding: 4%;
		outline: none;
		text-transform: uppercase;
		letter-spacing: 4px;
		font: 2em Roboto-Black, Arial, sans-serif;
		cursor: pointer;
		transition: all 0.2s;

		&:hover {
			opacity: 0.7;
		}
	}

	&__text {
		display: none;
		margin-top: 10%;		
		width: 100%;
		font: 1.2em PlayfairBold, serif;
		text-align: justify;
		letter-spacing: 1px;
		line-height: 1.5;
	}
}
/*/////////HEAD///////////*/

/*/////////KNOWLEGE////////*/
.knowledge {
	background: url(../img/knowledge-bg.jpeg) no-repeat;
	background-size: cover;
	background-attachment: fixed;
	background-color: #7b7c7b;
	border-top: 1px solid #EDEDED;
	height: 100vh;
}


.skill {
	height: 100%;

	&-wrap {
		position: relative;
		height: 92%;
	}

	&__item {
		position: relative;
		float: left;
		height: 50%;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 50%;
		text-align: center;
		border-radius: 8px;
		box-sizing: border-box;
	}

	&-hover {
		position: absolute;
		left: 0;
		width: 100%;
		height: 100%;
		top: 0;
		text-align: center;
		display: block;

		&_bg_red {
			background-color: rgba(255, 0, 0, 0.5);
		}
		&_bg_blue {
			background-color: rgba(34, 154, 193, 0.5);
		}
		&_bg_yellow {
			background-color: rgba(188, 188, 0, 0.5);
		}
		&_bg_sky {
			background-color: rgba(1, 160, 12, 0.5);
		}
		&__heading {
			margin-top: 8%;
			font: 2.3em Roboto-Black, Arial, sans-serif;
			letter-spacing: 2px;
			color: #fff;
			z-index: 10;
		}

		&__descript {
			margin-top: 5%;
			width: 40%;
			margin: 5% auto 0 auto;
			font: 1.2em PlayfairBold, serif;
			letter-spacing: 2px;
			color: #fff;
			z-index: 10;
		}
	}
}
.l-skill {
	margin-top: 30px;
}

.skill__icon {
	font-size: 10em;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

}
.html-five {
	font-family: 'html-icon' !important;
	color: red;
}
.icon-css {
	font-family: 'css-icon' !important;
}
.icon-js {
	font-family: 'js-icon' !important;
}
.icon-mobile {
	color: #00ff11;
	font-family: 'mobile-icon' !important;
}

.l-tools {
	padding: 2% 5px;
}
.tools {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 30%;
	background-color: $darck-gray;
	border-radius: 15px;
	box-shadow: 0 10px 20px 5px rgba(0,0,0,0.8);

	&__heading {
		margin-bottom: 10px;
		text-align: center;
		text-transform: uppercase;
		color: #fff;
		letter-spacing: 3px;
		font: 2.3em Rubik-Bold, Arial, sans-serif;
	}

	&__descript {
		margin: 0 8%;
		text-align: justify;
		color: #75fff1;
		line-height: 1.3;
		font: 1.2em Georgia, "Times New Roman", sans-serif;
	}
}
a.tools__link {
	color: #02f90e;
	text-decoration: underline;
	&:hover {
		color: #fff;
	}
}

.text-color {
	$text-color-size: 1.5em;
	  &_pink {
	    color: #C6538C;
	    font-size: $text-color-size;
	  }

	  &_purpure {
	  	color: #E84C50;
	    font-size: $text-color-size;
	  }

	  &_orange {
		color: #ffaa00;
	    font-size: $text-color-size;
	  }

	  &_violet {
	  	color: #8e00cc;
	    font-size: $text-color-size;
	  }

	  &_red {
		color: red;
	    font-size: $text-color-size;
	  }

	  &_gray {
		color: #9e9e9e;
	    font-size: $text-color-size;
	  }
	  &_white {
	  	color: #fff;
	    font-size: $text-color-size;
	  }
}

/*/////////KNOWLEGE////////*/


/*/////////MY_WORK////////*/

.my-work {
	position: relative;
	background-color: #fff;
	border-top: 1px solid #3F4C54;
	padding-bottom: 100px;

	&__btn {
		position: relative;
		bottom: -50px;
		left: 50%;
		transform: translateX(-50%);
		padding: 1%;
		background-color: transparent;
		font: 2.5em Roboto-Black, Arial, sans-serif;
		color: $darck-gray;
		text-transform: uppercase;
		border: 5px solid $darck-gray;
		border-radius: 20px;
		cursor: pointer;
		outline: none;
		transition: all 0.3s;

		&:hover {
			color: #fff;
			background-color: $darck-gray;
			opacity: 0.5;
		}
	}
}
.my-work__btn_active {
	color: #fff;
	background-color: $darck-gray;
}

.section-heading_color_white {
	text-align: center;
	color: $darck-gray;
}

.l-work {
	margin-top: 30px;
}
.work {
	/*height: 75%;*/
	display: flex;
	flex-wrap: wrap;

	&__item {
		position: relative;
		margin-bottom: 20px;
		height: 350px;
		width: 33.333%;
		border-radius: 15px;
		background-color: #000;
		box-sizing: border-box;
		transition: 0.3s all;
		overflow: hidden;

		&:hover .work__img {
			opacity: 0.3;
			transform: scale(1.2);
		}

		&:hover .icon-search {
			display: block;
		}

		&:nth-child(n+7) {
			display: none;
		}

	}

	&__img {
		min-width: 100%;
		height: 100%;
		max-width: 100%;
		border-radius: 15px;
		transition: all 0.5s;
	}
}
a.work__link {
	border-radius: 15px;
}

.icon-search {
	display: none;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	font-family: 'work-icon' !important;
	font-size: 8em;
	color: #fff;
	z-index: 10;
}


/*/////////MY_WORK////////*/


/*/////////ABOUT////////*/

.about {
	height: 85vh;
	padding-bottom: 80px;
	background: url(../img/lamp.jpeg) no-repeat;
	background-size: cover;
	background-attachment: fixed;
	border-top: 1px solid #000; 
}
.section-heading_color_black {
	color: #fff;
}

.about-descript {
	position: relative;
	width: 70%;
	margin: 5% auto 0 auto;
	background-color: transparent;

	&__text {
		color: #fff;
		margin-bottom: 20px;
		text-align: justify;
		font: 1.5em PlayfairBold, "Times New Roman", serif;
		line-height: 1.4;
		letter-spacing: 2px;
	}
}

.icon-profile {
	font-family: 'rezume-icon' !important;
	font-size: 2em;
	margin-left: 20%;
	color: green;
	&:hover {
		color: #00ff11;
	}
}
.rezume-block {
	margin-top: 100px;
	display: flex;
	align-items: center;
}
.indent {
	margin-left: 5%
}
.italic {
	font-style: italic;
}
.bold {
	font-weight: 600;
}
/*/////////ABOUT////////*/

/*/////////FOOTER////////*/

.footer {
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: #fff;
	color: #000;
	height: 15vh;
	border-top: 1px solid #000;
}

.contact-icon {
	position: relative;
	width: 30%;
	font-size: 3em;
	margin-left: 3%;
	&__item {
		display: inline-block;
		margin-right: 5%;

		&:hover {
			color: gray;
		}
	}
}
.icon-git, .icon-facebook2, .icon-instagram {
	font-family: 'footer-icon' !important;
}
.icon-linkedin {
  font-family: 'linkedin-icon' !important;
}

.mail {
	font-size: 0.8em;
	position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.rights {
	display: inline-block;
	margin-right: 3%;
	font-size: 2em;
	letter-spacing: 2px;
}

/*/////////FOOTER////////*/

a.to-top {
	position: fixed;
	display: none;
	right: 1%;
	top: 400px;
	padding: 1%;
	text-align: center;
	border: 3px solid #fff;
	border-radius: 10px;
	background: #000;
	color: #fff;
	opacity: 0.7;
	cursor: pointer;
	transition: all 0.3s;
	box-sizing: border-box;
	z-index: 10;

	&:hover {
		opacity: 1;
	}
}

.icon-arrow-up {
	font-size: 2em;
	font-family: 'toTop-icon' !important;
}

@import "mediaQueris_1345-1440";
@import "mediaQueris_1024-1280";
@import "mediaQueris_768-1023";
@import "mediaQueris_600-767";
@import "mediaQueris_320-500";