@media screen and (min-width: 960px) and (max-width: 1023px) {
	
	/*HEAD*/
	.head {
		height: 600px;
	}
	.autor {
			width: 35%;

		&__name {
				font-size: 1.3em;
		}

		&__specialisation {
				font-size: 0.9em;
		}
	}

	.menu__item {
		font-size: 0.9em;
	}

	.site-heading {
		margin-top: 80px;
	}
	.site-descript {
		font-size: 1.1em;
	}
	.head__button {
		left: 46%;
		margin-top: 40px;
	}
	/*HEAD*/

	/*KNOWLEGE*/
	.skill {
		
		&__item {
			height: 300px;
		}

		&__heading {
			font-size: 1.3em;
		}

		&__descript {
			font-size: 0.9em;
		}

		&__icon {
			font-size: 8em;
		}
	}
	.tools {
		width: 80%;
	}
	/*KNOWLEGE*/

	/*MY-WORK*/
	.work {
		text-align: center;
		$width: 270px;
		$height: 180px;

		&__item {
			display: inline-block;
			width: $width;
			height: $height;
			margin-right: 3%;
		}

		&__img {
			width: $width;
			height: $height;
		}

		&__wrap {
			width: $width;
			height: $height;
		}
	}

	.icon-link {
		top: 26%;
		left: 38%;
	}
	/*MY-WORK*/

	/*ABOUT*/
	.about-descript {
		width: 90%;

		&__photo {
			width: 230px;
			height: 230px;
			margin-right: -16%;
			margin-top: 75px;
		}
	}
	/*ABOUT*/

}


