@media screen and (min-width: 1024px) and (max-width: 1285px) {

	.section-heading {
	 font-size: 3em;
	}
	
	/*HEAD*/
	.autor {
		margin-top: 20px;
		width: 30%;

		&__photo {
			$photo-size: 120px;
			width: $photo-size;
			height: $photo-size;
		}

		&__name {
			font-size: 1.3em;
		}

		&__specialisation {
			font-size: 0.9em;
			margin-right: 1%;
		}
	}

	.head__nav {
		width: 15%;
		margin-top: 25px;
	}
	.menu {
		&__link {
			height: 30px;
			font-size: 0.8em;
			border-radius: 10px;
			border-width: 1px;
		}
	}

	.popup {
		width: 40%;

		&__btn {
			font-size: 1em;
			padding: 4% 4%;
		}

		&__text {
			font-size: 0.9em;
		}
	}
	/*HEAD*/

	/*KNOWLEDGE*/
	.skill {
		&-wrap {
			height: 90%;
		}

		&-hover {
			&__heading {
				font-size: 1.7em;
			}

			&__descript {
				font-size: 0.9em;
				letter-spacing: 0;
			}
		}
	}
	.skill__icon {
		font-size: 10em;
	}

	.l-tools {
		padding: 1% 0;
	}
	.tools {
		&__heading {
			font-size: 1.7em;
		}

		&__descript {
			margin: 0 4%;
			font-size: 0.9em;
		}
	}	
	/*KNOWLEDGE*/

	/*MY_WORK*/
	.my-work {
		padding-bottom: 40px;

		&__btn {
			bottom: -20px;
			font-size: 1.3em;
			padding: 1%;
			border-width: 2px;
		}
	}
	.work {
		&__item {
			height: 240px;
			margin-bottom: 10px;
		}
	}
	.icon-search {
		font-size: 4em;
	}
	/*MY_WORK*/

	/*ABOUT*/
	.about-descript {
		margin-top: 4%;
		&__text {
			font-size: 0.9em;
			letter-spacing: 1px;
		}
	}
	.rezume-block {
		margin-top: 50px;
	}
	/*ABOUT*/

	/*FOOTER*/
	.contact-icon {
		font-size: 2em;
	}
	.rights {
		font-size: 1.5em;
	}
	/*FOOTER*/


	.icon-arrow-up {
		font-size: 1em;
	}
}