@font-face {
	font-family: 'Montserrat-Regular';
	src: url('../font/Montserrat-Regular.eot');
	src: url('../font/Montserrat-Regular.eot?#iefix') format('embedded-opentype'),
		url('../font/Montserrat-Regular.woff') format('woff'),
		url('../font/Montserrat-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Montserrat-Bold';
	src: url('../font/Montserrat-Bold.eot');
	src: url('../font/Montserrat-Bold.eot?#iefix') format('embedded-opentype'),
		url('../font/Montserrat-Bold.woff') format('woff'),
		url('../font/Montserrat-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Couture';
	src: url('../Couture-Bold.eot');
	src: url('../Couture-Bold.eot?#iefix') format('embedded-opentype'),
		url('../Couture-Bold.woff') format('woff'),
		url('../Couture-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'PTSerif-Regular';
	src: url('../font/PTSerif-Regular.eot');
	src: url('../font/PTSerif-Regular.eot?#iefix') format('embedded-opentype'),
		url('../font/PTSerif-Regular.woff') format('woff'),
		url('../font/PTSerif-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}


