@media screen and (min-width: 320px) and (max-width: 599px) {
	.button {
		font-size: 1em;
		height: 50px;
	}
	.section-heading {
	font-size: 2.5em;
}

	.head-section {
		height: auto;
		padding-bottom: 20px;
	}
	.header-section__heading {
		text-align: center;
		width: 80%;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 20px;
		margin-top: 200px;
	}
	.heading {
		font-size: 3.4em;
	}
	.form {
		position: relative;
		margin: 0 auto;
		padding-top: 1px;
		width: 90%;
		
		&__item {
			height: 45px;
			font-size: 0.95em;
		}

		&__button {
			width: 353/380*100%;
		}
	}

/*menu*/
	.humburger{
		position: relative;
		right: 20px;
		display: block;
		margin-bottom: 5px;
		height: 30px;
		cursor: pointer;
	}

	.humburger__menu{
		position: absolute;
		right: 0;
  		top: 10px;
		display: block;
	}

	.humburger__item {
		background: #fff;
		width: 25px;
		height: 5px;
		margin-bottom: 2px;

		&:last-child{
			margin-bottom: 0;
		}
	}


	.header__nav {
		width: 37%;
	}
	.nav__item {
		float: none;
		display: none;
		text-align: right;
		
	}
	a.nav__link {
		border-bottom: 1px solid #5DBBC1;
	}
/*menu*/

/*services*/
	.services-section {
		padding-bottom: 15px;
	}
	.services-section__heading {
		margin-top: 20px;
		margin-bottom: 25px;
	}
	.services__item {
		width: 90%;
		margin-right: 0%;
		margin-top: 25px;
	}
	.services__descript {
		font-size: 1.3em;
		margin-top: 10px;
	}
/*services*/

.about-section {
	padding-top: 20px;
	padding-bottom: 20px;

	&__about-us {
		font-size: 1.1em;
		width: 60%
	}

	&__our-story {
		width: 39%;
	}
}

/*price*/
.price-section__heading {
	margin-top: 30px;
	margin-bottom: 30px;
	text-align: center;
}
.option-descript {
	margin-left: 9%;
	width: 80%; 
	margin-bottom: 20px;
	padding-bottom: 20px;
}
.option-descript__item {
	font-size: 1.2em;
}
.option-descript__item_bold {
	font-size: 2em;
	margin: 15px 0;
}
.option-descript_gradient {
	background: linear-gradient(bottom right, #fff 87%, #5DBBC1 10%);
}
.business__popular {
	display: none;
}
/*price*/


/*our-work*/
.our-work {
	padding-top: 70px;
}
.testimonial {
	width: 100%;
}
.review__item {
	padding-left: 0;
}
.review__author {
	margin-top: 10px;
}
.review__text {
	width: 100%;
	line-height: 1.2;
}
.review__photo {
	display: none;
}

.our-gallery {
	width: 100%;
	padding-top: 40px;
}
.gallery__item {

	&:nth-child(3n) {
		margin-right: 35px;
	}

	&:nth-child(2n) {
		margin-right: 0px;
	}
}
.gallery_margin {
	margin-top: 40px;
	margin-bottom: 0px;
}


.footer__text {
	padding: 50px 0;
	font-size: 0.9em;
}
.footer__logo {
		top: 80px;
		right: 0px;
	}


}