@media screen and (min-width: 1345px) and (max-width: 1440px) {
	.container {
		width: 80%;
	}
	.section-heading {
		margin-top: 40px;

		&__heading {
			font-size: 3em;
		}
	}
	.section-descript {
		margin-top: 20px;
		font-size: 1.2em;
	}

	/*HEAD*/
	.header {
		height: 100px;
		&__logo {
			width: 12%;
			left: 3%;
			top: 5px;
		}

		&__nav {
			width: 35%;
			margin-top: 30px;
		}

		&__phone {
			margin-top: 15px;
		}
	}

	.main-phone {
		font-size: 1.2em;
	}

	.nav {
		height: 100px;
		&__item {
			height: 30px;
			font-size: 0.8em;

			&::before {
				right: -48%;
			}
		}

		&__link:hover {
			border-bottom-width: 2px;
		}
	}

	.site-heading {
		margin-top: 70px;

		&__star {
			width: 5%;
		}

		&__main {
			margin: 20px auto;
		}
	}

	.top-heading {
		font-size: 1.2em;
		margin: 30px 3% auto 3%;
	}
	.main-heading {
		font-size: 3.5em;
		letter-spacing: 3px;
	}
	.bottom-heading {
		font-size: 1em;
		margin-bottom: 40px;
	}

	.down {
		top: 50px;
		&__link {
			padding: 8px 10px;
		}
	}
	@keyframes move{
		from {
			transform: translateY(0);
		}
		to {
			transform: translateY(40px);
		}
	}
	.arrow-down {
		cursor: pointer;
		width: 1%;
	}
	/*HEAD*/

	/*PROGRAMS*/
	.programs {
		padding-bottom: 70px;
	}
	.programs-type {
		margin-top: 40px;
		height: 90px;
	}

	.program {
		&__item {
			padding: 0 7.8% 65px 7.8%;
		}
	}

	.program-content {
		&__image {
			margin-top: 50px;
			width: 50%;
		}

		&__heading {
			margin-top: 50px;
			font-size: 2.5em;
		}
	}

	.program-descript {
		margin-top: 10px;

		&__icon {
			width: 8%;
		}

		&__text {
			font-size: 1.2em;
		}

		&_indent {
			margin-top: 25px;
		}
	}

	.program-price {
		font-size: 40px;

		&_big {
			font-size: 50px;
		}

		&_small {
			font-size: 25px;
		}

		&_indent {
			margin-top: 10px;
		}
	}

	.button-registr {
		height: 60px;
		font-size: 1em;

		&_indent {
			margin-top: 20px;
		}
	}

	.mask-word {
		font-size: 7em;
		top: 0px;
		right: 0;
	}
	/*program-content*/

	/*knowledge*/
	.knowledge {
		&_indent {
			margin-top: 90px;
		}

		&__heading {
			font-size: 1.4em;
			width: 95%;
			padding: 40px 0;
		}
	}

	.knowledge-roasting__heading {
		padding-top: 15px;
	}
	.knowledge-technology__heading {
		padding-top: 70px;
	}

	.knowledge-list {
		&__item {
			margin-bottom: 15px;
			font-size: 1em;

			&_indent {
				margin: 20px 0 0 10/640*100%;
			}
		}
	}
	/*knowledge*/

	/*course-table*/
	.l-course-table {
		margin-top: 30px;
	}
	.course-table__heading {	
	 	margin-bottom: 0px;
	}
	.course-table__col-check {
	 	height: 30px;
	 	width: 40px;
	}
	.course-table__col-name {
	 	font-size: 1em;
	 	height: 40px;
	}
	.course-table__icon {
		width: 35%;
	}
	/*course-table*/
 	/*PROGRAMS*/
	
	/*GALLERY*/
	.gallery {
		padding-bottom: 70px;
	}

	.gallery-section__descript {
		margin: 15px auto;
	}

	.gallery-slider {
		margin-top: 25px;

		&-nav {
			margin-top: 30px;
		}

		&-butt {
			$galleryButtSize: 50px;
			width: $galleryButtSize;
			height: $galleryButtSize;

			&__image {
				position: absolute;
				top: 50%;
	    		transform: translateY(-50%);

	    		&-prev {
	    			left: 50%;
	    		}

	    		&-next {
	    			left: -50%;
	    		}
			}
		}

		&__count {
			margin: 0 100px;
			font-size: 32px;

			&_small {
				font-size: 20px;
			}
		}
	}
	/*GALLERY*/

	/*TESTIMONIAL*/
	.testimonials {
		padding-bottom: 80px;
	}
	.testimonials-slider-wrap {
		margin: 40px auto 0 auto;
	}
	.testimonials-slider {
		$slick-dots-size: 15px;

		.slick-dots li {
			width: $slick-dots-size;
		    height: $slick-dots-size;
		    margin-right: 20px;
		}
		.slick-dots li button {
			width: $slick-dots-size;
		    height: $slick-dots-size;
		}
		.slick-dots li button:before {
			width: $slick-dots-size;
		    height: $slick-dots-size;
		}
	}

	.testimonials-unit {

		&-image {
			&__photo {
				border-radius: 50%;
			}

			&__icon {
				width: 30%;
				top: 12%;
			}
		}

		&__name {
			margin-top: 15px;
			font-size: 1.3em;
		}	

		&__text {
			font-size: 1.1em;
			margin-top: 10px;
			margin-bottom: 50px;
			line-height: 1.5;
		}
	}

	
	/*TESTIMONIAL*/

	/*PARTNERS*/
	.partners {
		padding-bottom: 100px;
	}
	.partners-slider-wrap {
		margin-top: 80px;
	}
	/*PARTNERS*/

	/*FEEDBACK*/
	.feedback {
		padding-bottom: 70px;
	}
	.form {
		width: 80%;
		margin-top: 70px;

		&__textarea {
			font-size: 2em;
			height: 90px;

			&-comment {
				font-size: 1.1em;
			}
		}

		&__name {
			margin: 50px 0 0 0;
			font-size: 1em;
		}

		&__submit {
			bottom: -40px;
			font-size: 1.2em;
			padding: 15px 8%;

			&-icon {
				width: 50%;
			}
		}
	}
	/*FEEDBACK*/

	/*FOOTER*/
	.footer {
		&-section-heading__heading {
			margin-bottom: 50px;
		}

		&-descript {
			&__text {
				width: 47%;
				font-size: 1em;
				line-height: 1.5;
			}
		}

		&-table {
			width: 80%;
			background-color: rgba(0, 0, 0, 0.5);

			&_indent {
				margin-top: 55px;
				margin-bottom: 40px;
				margin: 55px auto 80px auto;
			}

			&__head {
				height: 80px;
			}

			&__row {
				border-collapse: collapse;
				border: 2px solid #fff;
			}

			&__data {
				height: 120px;
				font-size: 1em;
			}

			&__image {
				width: 15%;
			}
		}

		.nav__item::before {
			right: -60%;
		}

		&-rights {
			width: 100%;
			text-align: center;
			margin: 0 auto;
			
			&__text {
				font-size: 1.2em;
				
				&_uppercase {
					font-size: 15px;
				}
			}

			&__separation {
				font-size: 30px;
			}
		}
	}
	/*FOOTER*/

	.coffe-bean {

		&-1 {
			top: -300px;
			right: 0px;
			width: 25%;
		}

		&-2 {
			width: 12%;
			left: 0px;
			top: 600px;
		}

		&-3 {
			width: 20%;
			right: 0;
			top: 1400px;
		}

		&-4 {
			width: 15%;
			left: 50px;
			top: -100px;
		}

		&-5 {
			width: 15%;
			right: 70px;
			bottom: -150px;
		}

		&-6 {
			width: 40%;
			left: -140px;
			top: -100px;
		}

		&-7 {
			width: 20%;
			right: 0px; /*-200px*/
			bottom: 300px;
			opacity: 0.1;
		}
	}
}
	
